#intro {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    overflow: hidden;
    z-index: 99999;
    background: #000;
}

#intro .intro-bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(to bottom, #0C1415, #17272A, #273538);
}

/* profile 등장 */
.intro-profile {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
}
.intro-profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.4);
}

/* 버튼 */
.intro-btn {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    background: #0F0F0F;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease;
}

.intro-text {
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: all .4s ease;
    font-size: 20px;
    font-weight: bold;
}
.intro-arrow-box{
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
    background-color: #1e8888;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-arrow {
    width: 20px;
}

/* hover 시 버튼 확장 */
.intro-btn:hover {
    gap: 20px;
    padding: 15px 20px 15px 30px;
}
.intro-btn:hover .intro-text {
    max-width: 200px;
    opacity: 1;
}
